@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.montserrat{
  font-family: "Montserrat", sans-serif;
}

.scada-regular {
  font-family: "Scada", sans-serif;
}


/* Animation styles with properly escaped characters */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

@keyframes callButton {
  0% { transform: scale(1); }
  10% { transform: scale(1.1); }
  20% { transform: scale(1); }
  30% { transform: scale(1.1); }
  40% { transform: scale(1); }
  100% { transform: scale(1); }
}

.animate-call-button {
  animation: callButton 1.5s infinite;
}

@keyframes callIcon {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-30deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(30deg); }
  40% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-call-icon {
  animation: callIcon 1.5s infinite;
}


