@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* .montserrat{
  font-family: "Montserrat", sans-serif;
} */

/* .scada-regular {
  font-family: "Scada", sans-serif;
} */




/* Add these animation styles */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

@keyframes callButton {
  0% { transform: scale(1); }
  10% { transform: scale(1.1); }
  20% { transform: scale(1); }
  30% { transform: scale(1.1); }
  40% { transform: scale(1); }
  100% { transform: scale(1); }
}

.animate-call-button {
  animation: callButton 1.5s infinite;
}

@keyframes callIcon {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-30deg); }
  20% { transform: rotate(0deg); }
  30% { transform: rotate(30deg); }
  40% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.animate-call-icon {
  animation: callIcon 1.5s infinite;
}


